/* criando variavel para facilitar na alteração do site */
:root{
    --vermelho:  #E50914;
    --preto: #141414;
}

/* reset css, para tirar todas as mergens e bordas desnecessárias */
*{
    margin: 0;
    padding: 0;
    /* impede que o conteudo saia da box */
    box-sizing: border-box;
}

/* elementos base corpo do site */
body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    /* todas as fontes do site */
    color: white;
}

/* div da nav bar e logo */
/* flex box, maneira de alinhar os elementos em uma div */
header .container{
    display: flex;
    /* padrão */
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}

/* estilização do logo */
header .logo{
    color: var(--vermelho);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    width: 200px;
    margin: 20px;
}

/* links da nav bar */
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

/* deixar os botoes da nav bar mais clarinhos */
header nav a:hover{
    color: #fff;
}

/* filme principal */

.filme-principal{
    font-size: 16px;
    /* colocar a imagem como fundo da div */
    background:url('/img/filme-principal/Spider-Man.jpg');
    height: 400px;
    /* colocar a imagem formatada na div */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    /* falta a responsividade para paginas maiores */
    
}

/* quando passa o mouse em cima da imagem ela escurece, em vez de ja ficar escura */
.filme-principal:hover{
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),url('/img/filme-principal/Spider-Man.jpg');
    background-size: cover;
}

/* texto de descrição do filme */
.filme-principal .descricao{
    margin-bottom: 30px;
}

/* titulo do filme principal */
.filme-principal .container .titulo{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}